
.works{


    .cards{

        overflow-wrap: break-word;
        margin: 30px 20px;

        .content{
            display: flex;
            position: relative;

            .text{
                width: 70%;
                margin: 10px 30px 0px 0px;
            }

            .img{
                height: 200px;
                margin: 10px auto;

            }
        }
    }




}